/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

p,
label {
  font:
    1rem 'Fira Sans',
    sans-serif;
}

input {
  margin: 0.4rem;
}

fieldset {
  border: 1px solid rgb(4, 16, 56);
  width: 400px;
  height: 150px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;

}

#title {
  text-align: center;
  color: #00539f;
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  padding-top: 20px;
  background-color: #f2f2f2;
}

#buttonDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#submit {
  display: inline-block;
  background-color: #38d8bd;
  padding: 10px 20px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

#submit:hover {
  background-color: #f7c2f9;
}
 

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
